/* QUESTIONNAIRE FORM */
.e-form__indicators__indicator__separator {
    display: none;
}
.e-form__indicators__indicator {
    display: none;
}

.e-form__indicators__indicator.e-form__indicators__indicator--state-active {
    display: block;
}

.e-form__indicators__indicator__number {
    border-color: #0B2541;
    background-color: #0B2541;
    color: white;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.quiz2-container form label.elementor-field-label {
    color: #0B2541;
    font-size: 42px;
    font-weight: 500;
}

.quiz2-container form .elementor-field-option {
    border: 1px solid #cccccc;
    border-radius: 32px;
    padding: 0 48px;
    height: 96px;
    margin: 0 6px;
}

.quiz2-container form .elementor-field-option input {
    display: none;
}

.quiz2-container form button {
    height: 64px;
    border: 22px;
    padding: 0 32px;
    color: white;
    margin-top: 40px;
}

.quiz2-container form button.e-form__buttons__wrapper__button-next {
    background-color: #ffffff;
    border: 1px solid #0B2541;
    color: #0B2541;
}

.quiz2-container form button.e-form__buttons__wrapper__button-next {
    background-color: #0B2541;
    border: 1px solid #0B2541;
    color: white;
}