/***********************************
MENU AND NAV
************************************/
body.ehf-header #masthead {
    z-index: 100;
}
.header-v2 .premium-mobile-menu-container {
    overflow: hidden;
}

.elementor .premium-mobile-menu-container .cta-container {
    display: none;
}

.elementor-sticky.elementor-sticky--active .product-menu-container {
    background-color: white;
    box-shadow: 0 0 7px rgb(0 0 0 / 20%);
}

/* THIS IS FOR PRODUCT PAGE THAT HAS SECOND MENU BAR */
/* THE SECOND MENU IS FIXED SET BY ELEMENTOR, AND THIS FIRST MENU FORCED TO DISPLAY NONE IN DESKTOP */
.headhesive--clone .hide-clone {
    display: none;
}
/***********************************
HEADING OVERRIDING
************************************/
.elementor-heading-title {
    line-height: 1.2em;
}

/***********************************
HERO
************************************/
.premium-fancy-text-wrapper {
    letter-spacing: -3px;
}

.premium-fancy-text {
    margin-right: 10px;
}

.industries-section > .e-con-inner {
    align-items: center !important;
}
/***********************************
QUESTIONNAIRE FORM 
************************************/
.quiz2-container .e-form__indicators__indicator__separator {
    display: none;
}
.quiz2-container .e-form__indicators__indicator {
    padding: 0!important;
    display: none;
}

.quiz2-container .e-form__indicators__indicator.e-form__indicators__indicator--state-active {
    display: block;
}

.quiz2-container .e-form__indicators__indicator__number {
    border-color: #0B2541;
    background-color: #0B2541 !important;
    color: white;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.quiz2-container .e-form__indicators__indicator__label {
    display: none !important;
}

.quiz2-container form label.elementor-field-label {
    color: #0B2541;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.4em;
    margin-bottom: 25px;
}

/* THE OPTIONS AND CONTAINER */
.quiz2-container form .elementor-field-subgroup {
    margin: 0 -6px;
}
.quiz2-container form .elementor-field-option {
    background-color: #cccccc;
    border-radius: 32px;
    padding: 0 38px !important;
    height: 76px;
    margin: 6px;
    width: auto;
    max-width: inherit;
    font-weight: normal;
    align-items: center;
    display: flex;
    position: relative;
}

.quiz2-container form .elementor-field-option:after {
    position: absolute;
    content: "";
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    background: white;
    border-radius: 31px;
    z-index: 0;
}

/* ACTIVE STATE */
.quiz2-container form .elementor-field-option.active {
    background: rgb(237,33,119);
    background: linear-gradient(90deg, rgba(237,33,119,1) 0%, rgba(253,208,58,1) 100%);
}
.quiz2-container form .elementor-field-option.active:after {
    top: 3px;
    right: 3px;
    left: 3px;
    bottom: 3px;
    border-radius: 29px;
}

.quiz2-container form .elementor-field-option input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
}

.quiz2-container form .elementor-field-option label {
     margin: 0;
     font-weight: normal;
     position: relative;
     z-index: 2;
}
.quiz2-container form button {
    height: 64px;
    border-radius: 22px;
    padding: 0 32px;
    color: white;
    margin-top: 40px;
}

.quiz2-container form button.e-form__buttons__wrapper__button-previous {
    background-color: #ffffff;
    border: 1px solid #0B2541;
    color: #0B2541 !important;
}

.quiz2-container form button.e-form__buttons__wrapper__button-next,
.quiz2-container form .elementor-button[type="submit"]  {
    background-color: #0B2541;
    border: 1px solid #0B2541;
    color: white;
}

.quiz2-container form button {
    transition: all 0.3s;
}

.quiz2-container form button:hover {
    opacity: 0.8;
}

.paginator-container {
    padding-right: 0;
}
.quiz-pagination {
    color: white;
    overflow: hidden;
    margin-right: -30px;
}

.quiz-pagination .pagination-rail {
    position: relative;
    width: 100%;
    margin: 30px 0;
    height: 3px;
    background: rgba(255,255,255,0.3);
}

.quiz-pagination .pagination-rail .progress-bar {
    background: rgb(237,33,119);
    background: linear-gradient(90deg, rgba(237,33,119,1) 0%, rgba(253,208,58,1) 100%);
}

/***********************************
TESTIMONIALS SLICK
************************************/
/* hide first */
.testimonials-carousel-container > div {
    display: none;
}

.testimonials-carousel-container > .slick-initialized {
    display: block;
}

.testimonials-carousel-container .item.photo {
    border-radius: 18px;
    width: 205px !important;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
    margin: 0 6px;
}

.testimonials-carousel-container .photos .slick-arrow {
    display: none !important;
}

.testimonials-carousel-container .photos .slick-slide {
    opacity: 0.3;
    transition: all 0.3s;
}

.testimonials-carousel-container .photos .slick-slide.slick-current {
    opacity: 1;
}

.testimonials-carousel-container .slider.texts {
    max-width: 620px;
    margin: 45px auto;
    padding: 0 30px;
    text-align: center;
}

.testimonials-carousel-container .slider.texts .item h3 {
    color: #0B2541;
    font-size: 26px;
    margin: 0 0 5px;
    font-weight: 500;
}

.testimonials-carousel-container .slider.texts .item .position {
    font-size: 14px;
    color: #8592A0;
}

.testimonials-carousel-container .slider.texts .item .testimonial {
    margin: 20px 0;
}

.testimonials-carousel-container .slick-arrow {
    width: 32px;
    background: white;
    height: 32px;
    border: 1px solid #0B2541;
    color: #0B2541;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.testimonials-carousel-container .slick-arrow:hover {
    color: white;
    background-color: #0B2541;;
}

.testimonials-carousel-container .slick-prev:before,
.testimonials-carousel-container .slick-next:before {
    font-family: "icomoon";
    opacity: 1;
    color: #0B2541;
}

.testimonials-carousel-container .slick-prev:hover:before,
.testimonials-carousel-container .slick-next:hover:before {
    color: white;
}

.testimonials-carousel-container .slick-prev:before {
    content: "\e905";
    font-size: 14px;
}

.testimonials-carousel-container .slick-next:before {
    content: "\e904";
    font-size: 14px;
}

.testimonials-carousel-container .slick-dots {
    position: relative;
}

.testimonials-carousel-container .slick-dots li {
    width: auto;
}

.testimonials-carousel-container .slick-dots li button {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #E2E5E8;
}

.testimonials-carousel-container .slick-dots li.slick-active button {
    background-color: #29ABDC;
}

/***********************************
MEGAMENU
************************************/
.premium-mega-content-container {
    filter: drop-shadow(0px 8px 40px #C7BEBE);
}

.premium-mega-content-container > div > .elementor-inner > .elementor-section-wrap > .elementor-element {
    padding-left: 30px;
    padding-right: 30px;
}

.premium-mega-content-container a:hover {
    text-decoration: none;
}

.premium-button .premium-drawable-icon {
    display: flex;
}

/***********************************
.button-border-rainbow when active
use border-radius 22px in the elementor btn
************************************/
.button-border-rainbow {
    position: relative;
}
.button-border-rainbow > div {
    position: relative;
    z-index: 2;
}
.button-border-rainbow:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    background: #aaaaaa;
    border-radius: 23px;
    display: flex;
    transition: all 0.3s;
}

.button-border-rainbow a {
    display: flex;
    height: 100%;
}

.button-border-rainbow a.premium-btn-lg {
    padding: 16px 22px;
}

.button-border-rainbow:hover:after,
.button-border-rainbow.active:after {
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    background: rgb(237,33,119);
    background: linear-gradient(90deg, rgba(237,33,119,1) 0%, rgba(253,208,58,1) 100%);
    border-radius: 25px;
}

/***********************************
PERSONAL SERVICES: HOTSPOT V2
************************************/
.support-cards-container {
    flex-shrink: 1 !important;
}

.personal-services-section .hotspot-v2 > .elementor-widget-container {
    width: 100%;
}
.personal-services-section .hotspot-v2 .e-hotspot {
    left: auto !important;
    right: auto;
    top: 12px !important;
    margin-left: 12px;
    --hotspot-translate-x: 0 !important;
}
.personal-services-section .hotspot-v2 .e-hotspot__outer-circle {
    box-shadow: none !important;
}

.personal-services-section .hotspot-v2 .e-hotspot__outer-circle {
    width: 10px;
    height: 10px;
}

.personal-services-section .hotspot-v2 .e-hotspot__button:hover div:last-child {
    padding: 8px;
}

.personal-services-section .service-button-container {
    position: relative;
}
/* HIDE THE BUTTON'S SVG ICON. we use the e-hotspot above */
.personal-services-section a.premium-button {
    display: inline-block;
    position: absolute;
    left: 0;
}
.personal-services-section a.premium-button .premium-svg-nodraw {
    opacity: 0;
    width: 26px;
}
/***********************************
HOTSPOT V2
************************************/
.hotspot-v2 .e-hotspot__button div:first-child, 
.hotspot-v2 .e-hotspot__button.ba--active div:first-child, 
.hotspot-v2 .e-hotspot__button.ba--default div:first-child {
    background: #ED2177;
}
.hotspot-v2 .e-hotspot__button.ba--inactive div:last-child {
    background: white;
}
.e-hotspot--fade-in-out.active {
    opacity: 1;
}

.hotspot-v2 .team-body a {
    color: #0B2541;
}

.hotspot-v2 .team-body a:after {
    content: url(/wp-content/uploads/2023/07/arrow-right-dark.png);
}

.hotspot-v2 .e-hotspot__button.ba--inactive:hover div:first-child {
    background: #ED2177;
}

#mobile-popup-container {
    position: absolute;
    top: 44%;
    width: 100%;
}
#mobile-popup-container .e-hotspot__tooltip {
    color: black;
    opacity: 0;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    z-index: -1;
}

#mobile-popup-container .e-hotspot__tooltip.active {
    opacity: 1;
    z-index: 2;
    pointer-events: inherit;
}

.video-carousel-v2 .function-video-carousel-container {
    padding: 0 !important;
}

.video-carousel-v2 .slick-list,
.image-carousel-gallery-v2 .slick-list,
.slick-container-v2 .slick-list {
    border-radius: 8px;
    border: 4px solid;
}

.video-carousel-v2 .slick-dots li,
.image-carousel-gallery-v2 .slick-dots li,
.slick-container-v2 .slick-dots li {
    width: 8px;
}

.video-carousel-v2 .slick-dots li button,
.image-carousel-gallery-v2 .slick-dots li button,
.slick-container-v2 .slick-dots li button {
    width: 8px;
    height: 8px;
    background-color: #E2E5E8;
}

.video-carousel-v2 .slick-dots li.slick-active button,
.video-carousel-v2 .slick-dots li.slick-active button,
.slick-container-v2 .slick-dots li.slick-active button  {
    background-color: #29ABDC;
}

.slick-container-v2 .slick-prev,
.slick-container-v2 .slick-next,
.image-carousel-v2 .slick-prev,
.image-carousel-v2 .slick-next,
.video-carousel-v2 .slick-prev, 
.video-carousel-v2 .slick-next,
.video-carousel-v2 .slick-prev:hover, 
.video-carousel-v2 .slick-next:hover,
.video-carousel-v2 .slick-prev:focus, 
.video-carousel-v2 .slick-next:focus {
    width: 64px;
    /* opacity: 0; */
    /* visibility: hidden; */
    height: 64px;
    background-color: #0B2541;
    border-radius: 22px;
    background-size: 11px;
    margin-top: -32px;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-position: center;
    top: 60%;
    z-index: 10;
}

.slick-container-v2 .slick-prev,
.slick-container-v2 .slick-prev:hover,
.slick-container-v2 .slick-prev:focus,
.image-carousel-v2 .slick-prev,
.image-carousel-v2 .slick-prev:hover,
.image-carousel-v2 .slick-prev:focus,
.video-carousel-v2 .function-video-carousel-container .slick-prev,
.video-carousel-v2 .function-video-carousel-container .slick-prev:hover,
.video-carousel-v2 .function-video-carousel-container .slick-prev:focus {
    left: -20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.slick-container-v2 .slick-next,
.slick-container-v2 .slick-next:hover,
.slick-container-v2 .slick-next:focus,
.image-carousel-v2 .slick-next,
.image-carousel-v2 .slick-next:hover,
.image-carousel-v2 .slick-next:focus,
.video-carousel-v2 .function-video-carousel-container  .slick-next,
.video-carousel-v2 .function-video-carousel-container  .slick-next:hover,
.video-carousel-v2 .function-video-carousel-container  .slick-next:focus  {
    right: -20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.slick-container-v2 .slick-prev:before, .slick-container-v2 .slick-next:before, 
.image-carousel-v2  .slick-prev:before, .image-carousel-v2  .slick-next:before,
.video-carousel-v2  .slick-prev:before, .video-carousel-v2  .slick-next:before {
    display: none;
}

.image-carousel-gallery-v2 .gallery .gallery-item {
    margin: 0 !important;
    float: none;
}

.image-carousel-gallery-v2 .gallery .gallery-item img {
    border: none !important;
}

.slick-slide .elementor-widget-image a {
    display: block;
}
/***********************************
INTERACTIVE MAP
************************************/
.container-interactive-map {
    position: absolute;
    transition: all 0.3s;
    opacity: 0;
}
.container-interactive-map.active {
    position: relative;
    opacity: 1;
}

.container-interactive-map .elementor-widget-shortcode {
    display: flex;
    justify-content: center;
}
/* POPOVER, GENERATED BY interactive-map.js */
.interactivemap.popover-content {
    display:none;
    /*filter: drop-shadow(5px 5px 4px #E6E5E5);*/
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    position: absolute;
    left: 105%;
    line-height: 1.4em;
    display: none;
    font-size: 1.2rem;
    background-color: white;
    padding: 16px;
    border-radius: 24px;
    min-width: 185px;
    z-index: 5;
}
.interactivemap.popover-content:hover {
    display:none!important;
}
.interactivemap.popover-content.active {
    display: block;
}
  
.interactivemap.popover-content .title {
    background: transparent url(https://butlerapp.de/wp-content/uploads/2023/07/icon-map-building.png) 0 0 no-repeat;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #0B2541;
    margin-bottom: 30px;
}

.interactivemap.popover-content .customer-number {
    color: #29ABDC;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}

.interactivemap.popover-content .customer-label {
    color: #3C5167;
    font-size: 32px;
    font-weight: 500;
}

/**************************************/
.interactive-map-container .map-container {
    z-index: 1;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 6px;
    position: relative;
    line-height: 0;
}
.interactive-map-container .map-container.ch,
.interactive-map-container .map-container.at {
    font-size: 8px;
}
.interactive-map-container .map-image {
    z-index: 1;
    width: 62em;
    position: relative;
}

.interactive-map-container .map-state {
    line-height: 0;
    z-index: 3;
    width: 5.5em;
    margin-top: 26.8em;
    margin-left: 48.4em;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
    pointer-events: none;
    transition: all 0.3s;
}
.interactive-map-container .map-state:hover {
    z-index: 10;
}
.interactive-map-container .map-state svg path {
    pointer-events: auto;
    transition: all 0.3s;
    cursor: pointer;
}

.interactive-map-container .map-state svg:hover path.land {
    fill: #657687;
}
.interactive-map-container .map-state svg:hover rect.point {
    fill: white;
}
.interactive-map-container .map-state.th {
    width: 19.4em;
    margin-top: 38.2em;
    margin-left: 26.8em;
}

.interactive-map-container .map-state.bb {
    width: 23.5em;
    margin-top: 17.5em;
    margin-left: 36.6em;
}

.interactive-map-container .map-state.sn {
    width: 21.6em;
    margin-top: 37.9em;
    margin-left: 40.3em;
}

.interactive-map-container .map-state.st {
    width: 17.9em;
    margin-top: 23.2em;
    margin-left: 31.7em;
}

.interactive-map-container .map-state.sl {
    width: 7.4em;
    margin-top: 59.8em;
    margin-left: 3.3em;
}

.interactive-map-container .map-state.sh {
    width: 20.9em;
    margin-top: 0;
    margin-left: 16.1em;
}

.interactive-map-container .map-state.rp {
    width: 17.2em;
    margin-top: 45.6em;
    margin-left: 1.4em;
}

.interactive-map-container .map-state.hb {
    width: 3.9em;
    margin-top: 16.9em;
    margin-left: 17.8em;
}

.interactive-map-container .map-state.by {
    width: 33em;
    margin-top: 0;
    margin-left: 20.7em;
    padding-left: 0;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
}

.interactive-map-container .map-state.bw {
    width: 20.2em;
    margin-top: 0;
    margin-bottom: 2.7em;
    margin-left: 11.1em;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
}

.interactive-map-container .map-state.he {
    width: 16.7em;
    margin-top: 0;
    margin-bottom: 21.5em;
    margin-left: 13em;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
}

.interactive-map-container .map-state.nw {
    width: 24.5em;
    margin-top: 0;
    margin-bottom: 30.8em;
    margin-left: 0;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
}

.interactive-map-container .map-state.ni {
    width: 33.5em;
    margin-top: 0;
    margin-bottom: 41.3em;
    margin-left: 5.4em;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;    
}

.interactive-map-container .map-state.hh {
    width: 4.2em;
    margin-top: 15.4em;
    margin-left: 26em;
}

.interactive-map-container .map-state.mv {
    width: 25.5em;
    margin-top: 4.6em;
    margin-left: 32.1em;
    margin-right: 0;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
}
/**************** */
/* SWITZERLAND
*******************/
.interactive-map-container .map-state.ch-lu {
    width: 9.7em;
    margin-top: 10.4em;
    margin-left: 25.4em;
}
/**************** */
/* AUSTRIA
*******************/
.interactive-map-container .map-state.at-ni {
    width: 21.3em;
    margin-top: .3em;
    margin-left: 39.9em;
}

.interactive-map-container .map-state.at-wi {
    width: 3.7em;
    margin-top: 8.7em;
    margin-left: 53.8em;
}

.interactive-map-container .state-image {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.interactive-map-container svg {
    display: none;
}

.interactive-map-container svg.loaded {
    display: block;
}

/****************************************
FAQ V2 (override FAQ style in style.css
*****************************************/
#faqs-container .faq.faq-v2 {
    min-height: 90px;
    padding: 20px;
    position: relative;
}

#faqs-container .faq.faq-v2.hover {
    z-index: 1;
}

#faqs-container .faq.faq-v2 .faq-inner {
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
}
#faqs-container .faq.faq-v2 .faq-inner h3 {
    padding: 0;
}

.faq.faq-v2 .faq-flipper {
    flex-shrink: 0;
    width: 70px;
    height: inherit;
    position: relative;
}

/* hover area for popup */
.faq.faq-v2 .faq-flipper .image-popup-container {
    position: absolute;
    top: -4px;
    height: 62px;
}

.faq.faq-v2 .faq-flipper img {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}
#faqs-container .faq.faq-v2 .faq-inner .heading-content-area {
    border-left: 1px solid #e2e3e3;
    min-height: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 20px;
}

.faq.faq-v2  .faq-content-area {
    margin-top: 25px;
    padding-bottom: 0;
    flex-direction: column;
}

.faq-content-area .faq-content-v2 {
    opacity: 0.6;
    margin-bottom: 20px;
}
.faq-content-area .faq-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: end;
}
.faq-content-area .faq-footer h5 {
    font-size: 18px;
    margin: 0;
}
.faq-content-area .faq-footer .position {
    opacity: 0.6;
    font-size: 16px;
}

.faq-content-area .faq-footer a {
    color: #29abdc;
}
.faq-content-area .faq-footer a i.fas {
    margin-left: 5px;
}

.faq-content-area .faq-footer > div:first-child {
    flex-grow: 1;
}

.faq.faq-v2.faq-active .faq-icon-switcher {
    transform: none;
}
.faq.faq-v2.faq-active .faq-arrow-flipper .fas {
    transform: rotate(180deg);
}

.faq.faq-v2 .faq-arrow-flipper {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.faq.faq-v2 .faq-flipper img {
    padding: 0;
}

.faq.faq-v2 .faq-arrow-flipper .fas {
    font-size: 22px;
    transition: all 0.3s;
}
/* HOVER AND ACTIVE */
.faq.faq-v2:not(.faq-active):hover .faq-flipper img,
.faq.faq-active .faq-flipper img {
    border-radius: 50%;
}
.faq.faq-active .faq-flipper img {
    background: none;
}
.faq.faq-v2 .image-popup-container {
    width: 100%;
    height: 50px;
}

/* POPUP */
.faq.faq-v2 .faq-popup-area {
    background: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.47);
    border-radius: 12px;
    opacity: 0;
    padding: 15px;
    text-align: left;
    width: 170px;
    transition: opacity 0.3s;
    position: absolute;
    top: 62px;
    z-index: -1;
}

#faqs-container .faq.faq-v2.hover .faq-popup-area {
    height: auto;
    opacity: 1;
    z-index: 1;
}

#faqs-container .faq.faq-v2.faq-active .faq-popup-area {
    display: none;
    opacity: 0;
}

.faq.faq-v2 .faq-popup-area .faq-meta {
    align-items: start;
    margin: 0;
}
.faq.faq-v2 .faq-meta h5 {
    margin: 0 0 5px;
    font-size: 22px;
}

.faq.faq-v2 .faq-meta a,
.faq.faq-v2 .faq-meta a:hover,
.faq.faq-v2 .faq-meta a:focus {
    font-size: 16px;
    margin-top: 10px;
    color: #29abdc;
}

.faq.faq-v2 .faq-meta a:hover {
    text-decoration: underline;
}

.faq.faq-v2 .faq-meta a i.fas {
    margin-left: 10px;
}

/****************************************
OVERRIDE ELEMENTOR ELEMENTS (LAST RESORT)
*****************************************/
.elementor-button {
    transition: all 0.3s;
}

.premium-bullet-list-wrapper {
    align-self: start !important;
    margin-top: 8px !important;
}

.elementor-button-icon {
    display: flex;
    align-items: center;
}

body .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
}
@media (max-width: 1200px) {
    body header .elementor-section.elementor-section-boxed > .elementor-container {
        width: calc(100% - 20px);
    }

    body .elementor-section.elementor-section-boxed > .elementor-container {
        width: calc(100% - 40px);
    }
    .premium-hamburger-toggle {
        width: 35px;
    }

    /**************************************************
    PREMIUM MOBILE MENU
    ***************************************************/
    html.mobile-menu-open {
        overflow: hidden;
    }
    .mobile-menu-open .header-v2 {
        background-color: white;
        width: 100%;
    }
    .header-v2 .premium-mobile-menu-container {
        background-color: white;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        left: 0px;
        top: 52px;
        height: 0;
        transition: all 0.3s;
        overflow: hidden;
    }

    /* OPENED STATE */
    .header-v2 .premium-ver-inner-container.opened .premium-mobile-menu-container {
        height: calc(100vh - 52px);
        display: flex;
    }
    .header-v2 .premium-ver-inner-container.opened .premium-mobile-menu-container .premium-mobile-menu, 
    .header-v2 .premium-ver-inner-container.opened .premium-mobile-menu-container .premium-sub-menu {
        display: flex;
    }

    .header-v2 .premium-mobile-menu-container .premium-mobile-menu {
        padding-top: 40px;
        background-color: white;
        overflow: scroll;
    }

    .header-v2 .premium-mobile-menu-container .premium-mobile-menu li.menu-item.premium-active-menu {
        position: static;
    }
    
    .header-v2 .premium-mobile-menu-container .premium-mobile-menu li.menu-item > a {
        font-size: 18px !important;
        padding: 10px 30px;
    }

    .header-v2 .premium-mobile-menu-container .premium-mobile-menu li.menu-item.menu-item-has-children a {
        padding-right: 45px;
    }

    .header-v2 .premium-mobile-menu-container .premium-mobile-menu li.menu-item a .premium-dropdown-icon {
        transform: rotate(-90deg);
        font-size: 22px;
        position: absolute;
        right: 20px;
    }

    .premium-hamburger-toggle {
        right: -5px;
        position: relative;
    }

    /* POPUP */
    .elementor-popup-modal .popup-icon {
        width: 90px;
    }

    /* PREMIUM MOBILE MENU: SUBMENU/MEGAMENU */
    .premium-mega-content-container {
        top: 0;
        filter: none;
        position: absolute !important;
        overflow-y: scroll;
        height: 100vh;
        background: white;
    }
    .premium-mega-content-container > div > .elementor-inner > .elementor-section-wrap > .elementor-element {
        padding-left: 0;
        padding-right: 0;
    }

    .submenu-button-back img {
        width: auto !important;
    }
    /* CTA buttons container */
    .elementor .premium-mobile-menu-container .cta-container {
        display: flex;
        /*position: absolute;*/
        bottom: env(safe-area-inset-bottom);
        padding: 20px 20px 70px;
    }

    /* TWEAK NEW ELEMENTOR'S HTML STRUCTURE */
    .elementor .premium-mobile-menu-container .cta-container {
        display: flex;
        gap: 20px;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
    }

    .elementor .premium-mobile-menu-container .cta-container .elementor-button,
    .product-nav-container .cta-container a.elementor-button {
        font-size: 16px;
        padding: 20px;
        border-radius: 16px;
    }

    .elementor .premium-mobile-menu-container .cta-container > div {
        width: 100%;
    }

    .elementor .premium-mobile-menu-container .cta-container > .elementor-widget-wrap > div.elementor-element .elementor-widget-container {
        margin: 0;
    }

    .elementor .premium-mobile-menu-container .cta-container .elementor-button {
        width: 100%;
    }

    /* SERVICE/QUIZ */
    .quiz-section .right-container > .e-con-inner {
        padding-bottom: 0;
    }

    /* PERSONAL SERVICE: POPUP POSITION */
    .service-button-container .e-hotspot__tooltip {
        position: fixed;
        left: inherit !important;
        right: inherit !important;
        transform: translate(-50%, 0);
    }
}

/* ELEMENTOR TABLET  BREAKPOINT */
@media (max-width: 1024px) {
    /**************************************************************************************
    PRODUCT PAGE WITH SECOND BAR MENU, THE FIRST MENU WHICH HAS .hide-clone WILL SHOW AGAIN
    ***************************************************************************************/
    /*
    .headhesive--clone .hide-clone {
        display: inherit;
    }
    */
    /* and the second bar will showing too when it's showing */
    /*
    body #mainhero-2 .product-menu-container {
        transition: all 0.3s;
        background-color: transparent;
    }
    body.headhesive-stick #mainhero-2 .product-menu-container {
        background-color: rgba(255,255,255,0.9);
        opacity: 1;
        position: fixed;
        top: 58px;
        z-index: 90;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .product-menu-container > div > .elementor-element {
        padding-left: 0;
        margin-left: 0;
    }
    */
    /* make it right aligned with the top nav */
    .product-menu-container > div > .elementor-element {
        margin-left: 0;
        padding-left: 5px;
    }
    /**************************************************
    PERSONAL SERVICES: CARDS RIGHT SECTION
    ***************************************************/
    .personal-services-section .support-cards-container {
        max-height: inherit !important;
        margin-top: 0 !important;
        max-width: 500px !important;
        overflow-y: hidden;
    }

    /**********************************************************
    PERSONAL SERVICES CARD'S HOTSPOT TOOLTIP: HIDE THE DEFAULT
    ***********************************************************/
    .personal-services-section  .hotspot-v2 .e-hotspot .e-hotspot__tooltip {
        display: none;
    }

    .image-carousel-v2 .slick-prev,
    .image-carousel-v2 .slick-next,
    .video-carousel-v2 .slick-prev, 
    .video-carousel-v2 .slick-next, 
    .video-carousel-v2 .slick-prev:hover, 
    .video-carousel-v2 .slick-next:hover, 
    .video-carousel-v2 .slick-prev:focus, 
    .video-carousel-v2 .slick-next:focus,
    .swiper-coverflow-container [class^="swiper-button-"] {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        margin-top: 20px;
        top: 40%;
    }

    .image-carousel-v2 .slick-prev, 
    .image-carousel-v2 .slick-prev:hover, 
    .image-carousel-v2 .slick-prev:focus, 
    .video-carousel-v2 .function-video-carousel-container .slick-prev, 
    .video-carousel-v2 .function-video-carousel-container .slick-prev:hover, 
    .video-carousel-v2 .function-video-carousel-container .slick-prev:focus  {
        left: -10px;
    }

    .image-carousel-v2 .slick-next,
    .image-carousel-v2 .slick-next:hover, 
    .image-carousel-v2 .slick-next:focus, 
    .video-carousel-v2 .function-video-carousel-container .slick-next, 
    .video-carousel-v2 .function-video-carousel-container .slick-next:hover, 
    .video-carousel-v2 .function-video-carousel-container .slick-next:focus  {
        right: -10px;
    }

    /********************************************
    PRODUCT SECOND MENU
    *********************************************/
    .product-nav-container nav.hfe-dropdown {
        background: white url(https://butlerapp.de/wp-content/uploads/2023/07/bg-blueish_2x-scaled.webp) center bottom no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        width: 100% !important;
        z-index: 20 !important;
        height: calc(100vh - 50px) !important;
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
    }
    nav.hfe-dropdown li a {
        background-color: transparent !important;
        font-size: 16px !important;
        font-weight: 500 !important;
    }

     /* WHEN MAIN MENU STILL EXIST */
     .product-nav-container nav.hfe-dropdown {
        height: calc(100vh - 40px - 50px) !important;
    }
    /* WHEN MAIN MENU ALREADY HIDDEN */
    .headhesive-stick .product-nav-container nav.hfe-dropdown {
        height: calc(100vh - 50px) !important;
    }

    .product-nav-container .cta-container {
        margin-top: auto;
        padding: 20px 20px 80px;
    }

    .product-nav-container .cta-container a.elementor-button {
        text-decoration: none;
        width: 100%;
        background-color: #0B2541;
    }
    .product-nav-container .cta-container a.elementor-button > span {
        display: inline-flex;
    }
    .product-nav-container nav.hfe-dropdown li {
        border: none !important;
    }

    .product-nav-container nav.hfe-dropdown li a.hfe-menu-item {
        padding: 20px 20px !important;
        font-weight: bold;
    }

    /* active state */
    html.mobile-product-menu-open .header-v2,
    html.mobile-product-menu-open .product-menu-container {
        background-color: white;
    }
     /* FAQ */
     .faq-content-area .faq-footer {
        flex-direction: column;
        align-items: start;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header-v2 .caller-icon-container.header-phone-icon {
        margin-top: 12px;
    }
    
    /* VISION MISSION TWEAK */
    .thumb {
        left: inherit;
        right: 10px;
    }

    #footer-v2 .footer-logo-set img {
        width: 70px;
    }

    #footer-v2 .elementor-widget-wrap > section:first-child .elementor-row > div:first-child {
        width: 100%;
    }

    #footer-v2 .elementor-widget-wrap > section:first-child .elementor-row > div:first-child .elementor-widget-wrap {
        justify-content: left;
    }
}

@media (max-width: 768px) {
    .eq-height {
        min-height: inherit !important;
    }

    /********************************************
    PRODUCT SECOND MENU
    *********************************************/
    /*
    body.headhesive-stick #mainhero-2 .product-menu-container {
        top: 52px;
    }
    */
    /* WHEN MAIN MENU STILL EXIST */
    .product-nav-container nav.hfe-dropdown {
        height: calc(100vh - 40px - 50px) !important;
    }
    /* WHEN MAIN MENU ALREADY HIDDEN */
    .headhesive-stick .product-nav-container nav.hfe-dropdown {
        height: calc(100vh - 40px) !important;
    }

    /* alignment left with main menu */
    .product-menu-container > div > .elementor-element {
        margin-left: 0;
        padding-left: 0;
    }
    /********************************
    PREMIUM MOBILE MENU
    *********************************/
    .header-v2 .caller-icon-container.header-phone-icon {
        margin-top: 0;
    }

    .header-v2 .phone-button-container .elementor-widget-html {
        right: 0 !important;
    }
    /* button container */
    .elementor .premium-mobile-menu-container .cta-container {
        flex-direction: column-reverse;
    }

    .premium-mobile-menu-container  .cta-container > .elementor-widget-wrap > div.elementor-element {
        width: 100% !important;
    }

    .elementor .premium-mobile-menu-container .cta-container > .elementor-widget-wrap .elementor-button {
        width: 100%;
        margin-top: 15px;
    }

    .premium-mega-content-container .menu-items-container > .e-con-inner {
        gap: 0;
    }

    .premium-mega-content-container .menu-items-container > .e-con-inner > .elementor-element > .e-con-inner {
        padding-bottom: 0;
    }

    /* HERO V2 */
    #mainhero.hero-sec-v2 {
        margin-bottom: 0;
    }

    #mainhero.hero-sec-v2  .elementor-widget-button > div {
        padding: 0;
    }

    .hero-sec-v2 .premium-fancy-text, 
    .hero-sec-v2 .premium-prefix-text, 
    .hero-sec-v2 .premium-suffix-text {
        font-size: 40px !important;
        line-height: 1em !important;
    }
    .hero-sec-v2 .hero-container .elementor-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-sec-v2 .hero-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-sec-v2 .hero-container .hero-tab {
        display: block;
        position: relative;
    }

    .hero-sec-v2 .logo-ssl-container > .e-con-inner {
        gap: 0;
    }

    .hero-sec-v2 .logo-ssl-container .logo-image {
        max-width: 25%;
    }
    /* POPUP */
    .elementor-popup-modal .dialog-message .elementor-section {
        padding: 0 10px !important;
    }

    .elementor-popup-modal .eicon-close {
        padding: 0 !important;
    }
    .elementor-popup-modal  .popup-icon {
        top: 25px;
    }
    .elementor-popup-modal .elementor-widget-wrap {
        padding: 50px 10px !important;
    }

    .elementor-popup-modal h2 {
        font-size: 20px;
    }

    .elementor-popup-modal .elementor-heading-title {
        font-size: 20px !important;
        padding: 0 10px;
    }
    .elementor-popup-modal p.elementor-heading-title,
    .elementor-popup-modal p {
        font-size: 16px !important;
    }
    .elementor-popup-modal .elementor-field-group .elementor-field {
        font-size: 16px !important;
    }
    /* COVERFLOW */
    .coverflow-container {
        padding: 0 20px;
    }
    .swiper-coverflow-container {
        height: 55vw;
    }
    .swiper-coverflow-container [class^="swiper-button-"] {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        top: 0;
        margin-top: 22%;
    }

    .swiper-coverflow-container .swiper-button-next {
        right: 5px;
    }

    .swiper-coverflow-container .swiper-button-prev {
        left: 5px;
    }
    /* CUSTOMERS STATIC SECTION */
    .customers-static-section .logo-item {
        width: 45%;
    }
    .customers-static-section .logo-item .elementor-widget-container {
        margin: 0 auto;
    }
    /* TESTIMONIALS */
    .testimonials-carousel-container .slick-arrow {
        display: none !important;
    }
    #butlerapp-team-container {
        margin-top: -30px;
    }
    /* FAQ */
    #faqs-container .faq.faq-v2 {
        background: none;
        box-shadow: none;
        padding: 0;
        border-bottom: 1px solid #cccccc;
        border-radius: 0;
        margin-bottom: 10px;
        min-height: inherit;
    }

    #faqs-container .faq.faq-v2 .faq-inner {
        padding-bottom: 20px;
    }

    #faqs-container .faq.faq-v2 .faq-flipper {
        display: none;
    }

    #faqs-container .faq.faq-v2 .faq-inner .heading-content-area {
        padding: 0;
        border: none;
    }

    #faqs-container .faq.faq-v2  .faq-arrow-flipper {
        padding: 0;
    }

    /* PRICE */
    .butler-price-features .option-item .button {
        display: none;
    }

    .butler-price-features .options-container {
        margin-bottom: 0;
    }

    .butler-price-features .test-button-container {
        width: 100%;
        display: block;
    }
    /* PAYMENT */
    #payment-methods > .e-con-inner {
        flex-direction: column-reverse;
    }
    #payment-methods .payment-items-container {
        width: 100%;
        padding: 20px 10px;
        position: relative;
    }

    /* logos section */
    #payment-methods .payment-items-col {
        width: 25%;
        padding: 0 5px;
    }
    #payment-methods .payment-item {
        background-size: 70% auto;
    }

    #payment-methods > .e-con-inner > .e-con-boxed:first-child > .e-con-inner {
        padding: 0;
        margin-top: 40px;
    }

    #payment-methods > .e-con-inner > .e-con-boxed:first-child > .e-con-inner > div.e-con-boxed {
        margin-bottom: 10px;
    }
    /* text section */
    #payment-methods > .e-con-inner > .e-con-boxed:nth-child(2) {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* PERSONAL SERVICES */
    .personal-services-section {
        padding: 0;
    }
    .personal-services-section #target-button-menu-bar-new,
    .personal-services-section .elementor-button  {
        padding: 18px 24px;
    }

    .personal-services-section .support-cards-container {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .personal-services-section .support-cards-container .elementor-motion-effects-parent {
        flex-wrap: inherit;
    }
    .personal-services-section .support-cards-container  .elementor-motion-effects-element .e-con-inner > .elementor-element {
        min-height: 310px;
    }
    /* photos section */
    .personal-services-section > .e-con-inner > .e-con:nth-child(2) {
        max-height: inherit !important;
        margin-top: 0 !important;
    }

    .personal-services-section .e-hotspot__tooltip {
        /*transform: translate(-45%, 0) !important;*/
    }
    
    /* QUIZ */
    .quiz2-container .e-form__indicators__indicator__number {
        width: 46px;
        height: 46px;
    }
    
    .quiz2-container form label.elementor-field-label {
        font-size: 22px;
        line-height: 1.2em;
    }

    .quiz2-container form .elementor-field-option {
        height: 56px;
        padding: 0 26px !important;
    }
    #vision-mission {
        background-size: cover;
    }

    .timeline-item .title {
        font-size: 24px;
    }
    .timeline-container .mCSB_inside > .mCSB_container {
        margin-right: 70px;
    }
    /* POPOVER, GENERATED BY interactive-map.js */
    .interactivemap.popover-content .title {
        font-size: 18px;
    }
    .interactivemap.popover-content .customer-number {
        font-size: 30px;
    }

    .interactivemap.popover-content .customer-label {
        font-size: 26px;
    }

    #butlerapp-team-container.v2 {
        margin-top: -25px;
    }

    .country-buttons-container a {
        width: 215px;
        display: block;
    }

    /* INTERACTIVE MAP POPUP */
    .interactivemap.popover-content {
        left: 50% !important;
        right: auto !important;
        transform: translateX(-50%);
    }

    .funktionen-slider-container .elementor-shortcode .image-carousel-gallery-v2 > .elementor-container {
        width: 100%;
    }
    /* PERSONAL SERVICE CARD SLIDER */
    .personal-services-section 
    .support-cards-container 
    .elementor-motion-effects-element .e-con-inner > .elementor-element:first-child, 
    .personal-services-section 
    .support-cards-container 
    .elementor-motion-effects-element .e-con-inner > .elementor-element:last-child {
        min-height: 160px;
        height: 58px;
    }

    /****************************************
    BLOG AND ARTICLE PAGES
    *****************************************/
    .blog-detail-container .elementor-author-box__name span {
        display: none;
    }

    .blog-detail-container .header-container .elementor-widget-share-buttons {
        margin-left: -10px;
    }

    #footer-v2 {
        padding: 50px 0 0;
        margin: 0 -20px;
    }

    #footer-v2 .elementor-widget {
        /*
        max-width: 100%;
        width: 100%;
        */
    }

    #footer-v2 .footer-upper-container {
        margin-bottom: 30px;
    }
    #footer-v2 .footer-upper-container,
    #footer-v2 .footer-upper-container .elementor-widget-wrap {
        justify-content: left;
    }

    #footer-v2 .footer-logo-set {
        background: none;
        text-align: center !important;
        margin: 0;
        width: 100%;
    }

    #footer-v2 .footer-menu-container > .elementor-column-wrap > .elementor-widget-wrap > div > .e-con.e-flex {
        width: 50%;
    }

    #footer-v2 .footer-bottom .elementor-row {
        display: flex;
        flex-direction: column-reverse;
    }

    #footer-v2 .european-commision {
        margin: 20px 0;
    }
}

@media (max-width: 640px) {
    body.website-v2 #masthead {
        background-color: white;
        box-shadow: 0 0 7px rgb(0 0 0 / 20%);
    } 
    body #mainhero-2 .product-menu-container {
        background-color: white;
        padding: 5px 20px;
    }
    body .interactive-map-container .map-container.ch {
        font-size: 6px;
    }
    body .interactive-map-container .map-container.de,
    body .interactive-map-container .map-container.at {
        font-size: 5px;
    }

    /* VISION MISSION TWEAK */
    .horay img {
        width: 70px;
        height: 70px;
    }
    
    .bewertung img {
        width: 150px;
        height: auto
    }

    .thumb {
        left: inherit;
        right: 10px;
    }

    .thumb img {
        width: 70px;
        height: 70px;
    }

    /* PERSONAL SERVICE CARD SLIDER */
    .personal-services-section 
    .support-cards-container 
    .elementor-motion-effects-element 
    .e-con-inner > .elementor-element {
        min-height: 320px;
    }

    .personal-services-section 
    .support-cards-container 
    .elementor-motion-effects-element .e-con-inner > .elementor-element:first-child, 
    .personal-services-section 
    .support-cards-container 
    .elementor-motion-effects-element .e-con-inner > .elementor-element:last-child {
        min-height: 160px;
        height: 58px;
    }

}

@media (max-width: 480px) {
    body .interactive-map-container .map-container.de {
        font-size: 4px !important;
    }

    /* PERSONAL SERVICE CARD SLIDER */
    .personal-services-section 
    .support-cards-container 
    .elementor-motion-effects-element 
    .e-con-inner > .elementor-element {
        min-height: 285px;
    }
}

@media (max-width: 420px) {
    /* PERSONAL SERVICE CARD SLIDER */
    .personal-services-section 
    .support-cards-container 
    .elementor-motion-effects-element 
    .e-con-inner > .elementor-element {
        min-height: 260px;
    }
}