body > * {
    color: #0B2541;
}
/***********************************
QUESTIONNAIRE FORM 
************************************/
.quiz2-container .e-form__indicators__indicator__separator {
    display: none;
}
.quiz2-container .e-form__indicators__indicator {
    padding: 0!important;
    display: none;
}

.quiz2-container .e-form__indicators__indicator.e-form__indicators__indicator--state-active {
    display: block;
}

.quiz2-container .e-form__indicators__indicator__number {
    border-color: #0B2541;
    background-color: #0B2541 !important;
    color: white;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.quiz2-container .e-form__indicators__indicator__label {
    display: none !important;
}

.quiz2-container form label.elementor-field-label {
    color: #0B2541;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.4em;
    margin-bottom: 25px;
}

/* THE OPTIONS AND CONTAINER */
.quiz2-container form .elementor-field-subgroup {
    margin: 0 -6px;
}
.quiz2-container form .elementor-field-option {
    background-color: #cccccc;
    border-radius: 32px;
    padding: 0 38px !important;
    height: 76px;
    margin: 6px;
    width: auto;
    max-width: inherit;
    font-weight: normal;
    align-items: center;
    display: flex;
    position: relative;
}

.quiz2-container form .elementor-field-option:after {
    position: absolute;
    content: "";
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    background: white;
    border-radius: 31px;
    z-index: 0;
}

/* ACTIVE STATE */
.quiz2-container form .elementor-field-option.active {
    background: rgb(237,33,119);
    background: linear-gradient(90deg, rgba(237,33,119,1) 0%, rgba(253,208,58,1) 100%);
}
.quiz2-container form .elementor-field-option.active:after {
    top: 3px;
    right: 3px;
    left: 3px;
    bottom: 3px;
    border-radius: 29px;
}

.quiz2-container form .elementor-field-option input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
}

.quiz2-container form .elementor-field-option label {
     margin: 0;
     font-weight: normal;
     position: relative;
     z-index: 2;
}
.quiz2-container form button {
    height: 64px;
    border-radius: 22px;
    padding: 0 32px;
    color: white;
    margin-top: 40px;
}

.quiz2-container form button.e-form__buttons__wrapper__button-previous {
    background-color: #ffffff;
    border: 1px solid #0B2541;
    color: #0B2541 !important;
}

.quiz2-container form button.e-form__buttons__wrapper__button-next,
.quiz2-container form .elementor-button[type="submit"]  {
    background-color: #0B2541;
    border: 1px solid #0B2541;
    color: white;
}

#button-quiz-submit .elementor-button-icon {
    display: flex;
    align-items: center;
}

.quiz2-container form button {
    transition: all 0.3s;
}

.quiz2-container form button:hover {
    opacity: 0.8;
}

.quiz-pagination {
    color: white;
}

.quiz-pagination .pagination-rail {
    position: relative;
    width: 100%;
    margin: 30px 0;
    height: 3px;
    background: rgba(255,255,255,0.3);
}

.quiz-pagination .pagination-rail .progress-bar {
    background: rgb(237,33,119);
    background: linear-gradient(90deg, rgba(237,33,119,1) 0%, rgba(253,208,58,1) 100%);
}

/***********************************
TESTIMONIALS SLICK
************************************/
/* hide first */
.testimonials-carousel-container > div {
    display: none;
}

.testimonials-carousel-container > .slick-initialized {
    display: block;
}

.testimonials-carousel-container .item.photo {
    border-radius: 18px;
    width: 205px !important;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
    margin: 0 6px;
}

.testimonials-carousel-container .photos .slick-arrow {
    display: none !important;
}

.testimonials-carousel-container .photos .slick-slide {
    opacity: 0.3;
    transition: all 0.3s;
}

.testimonials-carousel-container .photos .slick-slide.slick-current {
    opacity: 1;
}

.testimonials-carousel-container .slider.texts {
    max-width: 620px;
    margin: 45px auto;
    padding: 0 30px;
    text-align: center;
}

.testimonials-carousel-container .slider.texts .item h3 {
    color: #0B2541;
    font-size: 26px;
    margin: 0 0 5px;
    font-weight: 500;
}

.testimonials-carousel-container .slider.texts .item .position {
    font-size: 14px;
    color: #8592A0;
}

.testimonials-carousel-container .slider.texts .item .testimonial {
    margin: 20px 0;
}

.testimonials-carousel-container .slick-arrow {
    width: 32px;
    background: white;
    height: 32px;
    border: 1px solid #0B2541;
    color: #0B2541;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.testimonials-carousel-container .slick-arrow:hover {
    color: white;
    background-color: #0B2541;;
}

.testimonials-carousel-container .slick-prev:before,
.testimonials-carousel-container .slick-next:before {
    font-family: "icomoon";
    opacity: 1;
    color: #0B2541;
}

.testimonials-carousel-container .slick-prev:hover:before,
.testimonials-carousel-container .slick-next:hover:before {
    color: white;
}

.testimonials-carousel-container .slick-prev:before {
    content: "\e905";
    font-size: 14px;
}

.testimonials-carousel-container .slick-next:before {
    content: "\e904";
    font-size: 14px;
}

.testimonials-carousel-container .slick-dots {
    position: relative;
}

.testimonials-carousel-container .slick-dots li {
    width: auto;
}

.testimonials-carousel-container .slick-dots li button {
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.testimonials-carousel-container .slick-dots li.slick-active button {
    background-color: #29ABDC;
}

/***********************************
MEGAMENU
************************************/
.premium-mega-content-container {
    filter: drop-shadow(0px 8px 40px #C7BEBE);
}

.premium-mega-content-container > div > .elementor-inner > .elementor-section-wrap > .elementor-element {
    padding-left: 30px;
    padding-right: 30px;
}

.premium-mega-content-container a:hover {
    text-decoration: none;
}

.premium-button .premium-drawable-icon {
    display: flex;
}

/***********************************
.button-border-rainbow when active
use border-radius 22px in the elementor btn
************************************/
.button-border-rainbow {
    position: relative;
}
.button-border-rainbow > div {
    position: relative;
    z-index: 2;
}
.button-border-rainbow:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    background: #aaaaaa;
    border-radius: 23px;
    display: flex;
    transition: all 0.3s;
}

.button-border-rainbow a {
    display: flex;
    height: 100%;
}

.button-border-rainbow a.premium-btn-lg {
    padding: 16px 22px;
}

.button-border-rainbow:hover:after,
.button-border-rainbow.active:after {
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    background: rgb(237,33,119);
    background: linear-gradient(90deg, rgba(237,33,119,1) 0%, rgba(253,208,58,1) 100%);
    border-radius: 25px;
}
/***********************************
INTERACTIVE MAP
************************************/
.container-interactive-map {
    position: absolute;
    transition: all 0.3s;
    opacity: 0;
}
.container-interactive-map.active {
    position: relative;
    opacity: 1;
}

.container-interactive-map .elementor-widget-shortcode {
    display: flex;
    justify-content: center;
}
/* POPOVER, GENERATED BY interactive-map.js */
.interactivemap.popover-content {
    display:none;
    /*filter: drop-shadow(5px 5px 4px #E6E5E5);*/
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    position: absolute;
    left: 105%;
    line-height: 1.4em;
    display: none;
    font-size: 1.2rem;
    background-color: white;
    padding: 16px;
    border-radius: 24px;
    min-width: 185px;
    z-index: 5;
}
.interactivemap.popover-content:hover {
    display:none!important;
}
.interactivemap.popover-content.active {
    display: block;
}
  
.interactivemap.popover-content .title {
    background: transparent url(https://butlerapp.de/wp-content/uploads/2023/07/icon-map-building.png) 0 0 no-repeat;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #0B2541;
    margin-bottom: 30px;
}

.interactivemap.popover-content .customer-number {
    color: #29ABDC;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}

.interactivemap.popover-content .customer-label {
    color: #3C5167;
    font-size: 32px;
    font-weight: 500;
}
  